@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
}   
body,body{
   height: 100%;
   width: 100%;
}  

.main{
    height: 400px;
    width: 700px;
    margin: 150px 300px;
    background: #eee;
    position: relative;
    
    .bigwhell{
        float: left;
        height: 160px;
        width: 160px;
        border-radius: 160px;
        border: 4px solid #666;
        margin: 190px 0 0 90px;
        .whell{
            height: 140px;
            width: 140px;
            border-radius: 100%;
            border: 4px solid orange;
            position: relative;
            margin: 6px;
        }
        .line{
            height: 0;
            width: 140px;
            border-bottom: 2px solid #ccc;
            position: absolute;
            top: 70px;
            z-index: 2;
        }
        @for $i from 1 through 5{
            .line:nth-child(#{$i}){
                transform:rotate($i*36deg);
                animation:Transform#{$i} 0.2s linear infinite;
            }
           @keyframes Transform#{$i}
              {
                    0%   { -webkit-transform: rotate( $i*36deg );}
                    50%  {  -webkit-transform: rotate( $i*36+18deg );}
                    100% { -webkit-transform: rotate( $i*36+36deg );}
              }
        }
        .whell-smallCircle{
            height: 20px;
            width: 20px;
            border: 2px solid #222;
            border-radius: 15px;
            transform: translate(59px,59px);
            animation: whell-smallCircle 1s linear infinite;
            @keyframes whell-smallCircle{
                0% {transform: 0deg;}
                50% {transform: 180deg;}
                100% {transform: 360deg;}
            }
            div{
                height: 10px;
                width: 10px;
                background: #222;
                border-radius: 5px;
                transform: translate(5px,5px);
            }
        }
        
    }
    .bigwhell:nth-child(2){
        margin: 200px 0 0 180px;
    }
    
    .smallwhell{
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        top: 213px;
        left: 292px;
        border: 4px solid #666;
        z-index: 2;
        .line{
            height: 0;
            width: 80px;
            border-bottom: 5px solid #666;
            position: absolute;
            top: 38px;
        }
        .line:nth-child(1){
            width: 140px;
            top: 35px;
            left: -33px;
            .foot1,.foot2{
                height: 6px;
                width: 20px;
                background: #666;
                transform: translate(-10px,0);
                transform-origin: 0 0;
                animation: change 3s linear infinite;
            }
            .foot2{
                 transform: translate(-10px,140px);
            }
            @keyframes change{
                    0% {transform: rotate( -70deg );}
                    50% {transform: rotate( -250deg );}
                    100% {transform: rotate( -430deg ) ;}
                }
        }
        @for $i from 1 through 3{
            .line:nth-child(#{$i}){
            transform:rotate($i*60deg);
            animation:transform#{$i} 3s linear infinite;
        }
        @keyframes transform#{$i}
            {
                0%   { -webkit-transform: rotate( $i*60deg );}
                50%  {  -webkit-transform: rotate( $i*60+180deg );}
                100% { -webkit-transform: rotate( $i*60+360deg );}
           }
        }
    }
    
    .square{
        height: 100px;
        width: 150px;
        border: 8px solid #5E999B;
        border-radius: 3px;
        position: absolute;
        transform: translate(221px,155px) skew(-40deg,-5deg);
    }
    .seatbox{
        border-bottom: 8px solid #5E999B;
        border-top: 8px solid #5E999B;
        height: 138px;
        width: 200px;
        transform: translate(270px, 108px) rotate(56deg) skew(-39deg);
    }
    .handel_01{
        background: #5E999B;
        height: 8px;
        width: 80px;
        border-radius: 4px;
        transform: translate(404px, -47px);
        position: relative;
        z-index: 2;
    }
    .handel_02{
        height: 42px;
        width: 44px;
        border: 8px solid #000;
        border-left: 8px solid transparent;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: translate(448px, -55px) rotate(0deg);   
    }
}

